@mixin border{
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    // align-content: center;
    // flex-wrap: wrap;
    padding: 20px;
    margin-top:40px ;
}
@mixin customBoxShadow {
    box-shadow: 0 -0.5em 1em 0 rgb(118, 118, 118), 0 0.5em 1em 0 #3a3a3a;
    background-color: #000;
  }
  